<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>learning angular</title>
    <script src="venders/angular.min.js" charset="utf-8"></script>
    <script src="client.js" charset="utf-8"></script>
    <style media="screen">

      h1 { line-height: 8%;  }
      div { position: absolute; top: 100px; right: 100px;}
    </style>
  </head>
  <body ng-app='myApp' >
    <div class="here">
      <h1>cancel</h1>
    </div>

    <!-- <div ng-controller='LaunchpadController'>
      <h2>NG Movie Launchpad</h2>
      What's your favorite movie? <input type="text" ng-model='movieName'>
      <br>Who does this movie star? <input type="text" ng-model='movieActor'>
      <p>Your favorite movie is: {{ movieName }} (staring: {{ movieActor }})</p>
      <button ng-click='getMovieName()'>Enter</button>

      <ul><li ng-repeat='movie in favoriteMovies'>{{ movie.title }} (staring: {{ movie.actor }}) </li></ul>

    </div> -->
  </body>
</html>
